In [1]:
import math
import pandas as pd
import nltk
nltk.download('punkt')
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /Users/Ben/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
!pwd

/Users/Ben/Dropbox (Personal)/01.0 DATA SCIENCE & AI/01. QUEEN MARY/ECS736P Information Retrieval/CW_3

In [5]:
filename = '/content/sample_data/data/doc_dump.txt'
filename = '/content/sample_data/data/doc_dump.txt'
#pd.read_csv(filename, sep='\t', names=None)
doc = pd.read_csv(filename, sep = '\t', header=None)
doc.columns =['ID', 'URL', 'TITLE', 'ABSTRACT']

FileNotFoundError: [Errno 2] No such file or directory: '/content/sample_data/data/doc_dump.txt'

In [ ]:
doc

In [ ]:
doc['TITLE_ABSTRACT'] = doc[['TITLE', 'ABSTRACT']].apply(lambda x: ''.join(x), axis=1)

In [ ]:
doc['TITLE_ABSTRACT'][9]

'statin use and breast cancer survival: a nationwide cohort study from finlandabstract recent studies have suggested that statins, an established drug group in the prevention of cardiovascular mortality, could delay or prevent breast cancer recurrence but the effect on disease-specific mortality remains unclear. we evaluated risk of breast cancer death among statin users in a population-based cohort of breast cancer patients. the study cohort included all newly diagnosed breast cancer patients in finland during 1995–2003 (31,236 cases), identified from the finnish cancer registry. information on statin use before and after the diagnosis was obtained from a national prescription database. we used the cox proportional hazards regression method to estimate mortality among statin users with statin use as time-dependent variable. a total of 4,151 participants had used statins. during the median follow-up of 3.25 years after the diagnosis (range 0.08–9.0 years) 6,011 participants died, of which 3,619 (60.2%) was due to breast cancer. after adjustment for age, tumor characteristics, and treatment selection, both post-diagnostic and pre-diagnostic statin use were associated with lowered risk of breast cancer death (hr 0.46, 95% ci 0.38–0.55 and hr 0.54, 95% ci 0.44–0.67, respectively). the risk decrease by post-diagnostic statin use was likely affected by healthy adherer bias; that is, the greater likelihood of dying cancer patients to discontinue statin use as the association was not clearly dose-dependent and observed already at low-dose/short-term use. the dose- and time-dependence of the survival benefit among pre-diagnostic statin users suggests a possible causal effect that should be evaluated further in a clinical trial testing statins’ effect on survival in breast cancer patients.'

In [ ]:
doc

            ID  ...                                     TITLE_ABSTRACT
0        MED-1  ...  Birth Weight, Head Circumference, and Prenatal...
1        MED-2  ...  A statistical regression model for the estimat...
2        MED-3  ...  Chronic intake of potato chips in humans incre...
3        MED-4  ...  Dietary patterns and breast cancer risk among ...
4        MED-5  ...  Empirically derived dietary patterns and risk ...
...        ...  ...                                                ...
5366  MED-5367  ...  The relationship between plasma carotenoids an...
5367  MED-5368  ...  Suicide Mortality in Relation to Dietary Intak...
5368  MED-5369  ...  Suicide mortality in the European Union. - Pub...
5369  MED-5370  ...  Long chain omega-3 fatty acids intake, fish co...
5370  MED-5371  ...  Omega-3 Fatty Acids for the Treatment of Depre...

[5371 rows x 5 columns]

##1. Lowercased:

In [ ]:
doc['TITLE_ABSTRACT'] = doc['TITLE_ABSTRACT'].apply(lambda s:s.lower() if type(s) == str else s)

In [ ]:
doc

            ID  ...                                     TITLE_ABSTRACT
0        MED-1  ...  birth weight, head circumference, and prenatal...
1        MED-2  ...  a statistical regression model for the estimat...
2        MED-3  ...  chronic intake of potato chips in humans incre...
3        MED-4  ...  dietary patterns and breast cancer risk among ...
4        MED-5  ...  empirically derived dietary patterns and risk ...
...        ...  ...                                                ...
5366  MED-5367  ...  the relationship between plasma carotenoids an...
5367  MED-5368  ...  suicide mortality in relation to dietary intak...
5368  MED-5369  ...  suicide mortality in the european union. - pub...
5369  MED-5370  ...  long chain omega-3 fatty acids intake, fish co...
5370  MED-5371  ...  omega-3 fatty acids for the treatment of depre...

[5371 rows x 5 columns]

##2. Tokenization: 
Splitting the sentence into words. So that each word can be considered uniquely.

In [ ]:
doc['TOKENIZED_TEST'] = doc['TITLE_ABSTRACT'].apply(word_tokenize)

In [ ]:
doc['TOKENIZED_TEST']

0       [birth, weight, head, circumference, and, pren...
1       [a, statistical, regression, model, for, the, ...
2       [chronic, intake, of, potato, chips, in, human...
3       [dietary, patterns, and, breast, cancer, risk,...
4       [empirically, derived, dietary, patterns, and,...
                              ...
5366    [the, relationship, between, plasma, carotenoi...
5367    [suicide, mortality, in, relation, to, dietary...
5368    [suicide, mortality, in, the, european, union,...
5369    [long, chain, omega-3, fatty, acids, intake, f...
5370    [omega-3, fatty, acids, for, the, treatment, o...
Name: TOKENIZED_TEST, Length: 5371, dtype: object

#3 Cleaning
Cleaning step assumes removing all undesirable content.

##Punctuation removal

In [ ]:
doc['TOKENIZED_TEST'] = doc['TOKENIZED_TEST'].apply(lambda x: [item for item in x if item not in string.punctuation])

In [ ]:
display(f"Punctuation symbols: {string.punctuation}")

'Punctuation symbols: !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

##Stop words removal

In [ ]:
stop = set(stopwords.words('english'))

In [ ]:
display(f"Punctuation symbols: {stop}")

'Punctuation symbols: {\'can\', "you\'ll", \'doesn\', \'as\', \'here\', \'such\', \'d\', \'mustn\', \'then\', \'no\', \'about\', \'very\', \'by\', \'that\', \'hadn\', \'any\', \'after\', \'so\', \'haven\', \'doing\', "haven\'t", "shouldn\'t", \'against\', "shan\'t", \'t\', \'me\', \'were\', \'nor\', \'only\', \'be\', \'just\', \'don\', \'whom\', "you\'re", \'up\', \'itself\', \'been\', \'of\', "you\'d", \'i\', \'which\', \'until\', "won\'t", \'our\', "wasn\'t", \'did\', "it\'s", \'to\', \'isn\', \'own\', \'my\', "that\'ll", \'more\', \'aren\', \'same\', "you\'ve", \'off\', \'ll\', \'them\', \'into\', \'ourselves\', \'her\', \'these\', \'ve\', \'before\', \'than\', "mightn\'t", "should\'ve", \'from\', \'didn\', "isn\'t", \'under\', \'you\', \'wouldn\', \'too\', \'because\', \'yours\', \'between\', \'through\', \'most\', \'couldn\', \'his\', \'while\', \'has\', \'he\', \'have\', \'out\', \'o\', \'those\', \'re\', \'m\', \'hasn\', \'at\', \'some\', \'their\', \'theirs\', \'for\', \'again\', \'yourselves\', \'below\', \'being\', \'a\', \'not\', \'with\', \'when\', \'what\', \'ain\', \'an\', "don\'t", \'other\', \'are\', "hasn\'t", "weren\'t", \'all\', \'your\', \'ours\', \'myself\', \'it\', \'themselves\', \'was\', \'but\', \'each\', \'where\', \'herself\', \'y\', \'there\', \'needn\', \'him\', \'once\', \'and\', "hadn\'t", \'am\', \'s\', \'both\', \'do\', \'now\', \'the\', "didn\'t", \'had\', \'having\', \'weren\', \'if\', "mustn\'t", \'down\', \'will\', "couldn\'t", \'should\', \'over\', \'above\', "aren\'t", \'mightn\', "she\'s", \'hers\', \'its\', \'does\', \'during\', \'shouldn\', \'won\', "wouldn\'t", \'this\', \'yourself\', \'few\', \'ma\', "needn\'t", \'shan\', \'we\', \'further\', "doesn\'t", \'wasn\', \'they\', \'on\', \'is\', \'in\', \'she\', \'how\', \'himself\', \'who\', \'or\', \'why\'}'

In [ ]:
doc['TEXT_WITHOUT_STOPWORDS'] = doc['TOKENIZED_TEST'].apply(lambda x: [item for item in x if item not in stop])

##Frequent words removal

In [ ]:
filename = '/content/sample_data/data/stopwords.large'
#pd.read_csv(filename, sep='\t', names=None)
stopwords_given = pd.read_csv(filename, sep = '\t', header=None)
stopwords_given.columns =['STOP_WORDS']
stopwords_given_list = stopwords_given['STOP_WORDS'].tolist()

In [ ]:
doc['TEXT_WITHOUT_STOPWORDS'] = doc['TEXT_WITHOUT_STOPWORDS'].apply(lambda x: [item for item in x if item not in stopwords_given_list])

In [ ]:
frequent_words= {'abstract','background'}

In [ ]:
doc['TEXT_WITHOUT_STOPWORDS'] = doc['TEXT_WITHOUT_STOPWORDS'].apply(lambda x: [item for item in x if item not in frequent_words])

In [ ]:
doc

            ID  ...                             TEXT_WITHOUT_STOPWORDS
0        MED-1  ...  [birth, weight, head, circumference, prenatal,...
1        MED-2  ...  [statistical, regression, model, estimation, a...
2        MED-3  ...  [chronic, intake, potato, chips, humans, incre...
3        MED-4  ...  [dietary, patterns, breast, cancer, risk, amon...
4        MED-5  ...  [empirically, derived, dietary, patterns, risk...
...        ...  ...                                                ...
5366  MED-5367  ...  [relationship, plasma, carotenoids, depressive...
5367  MED-5368  ...  [suicide, mortality, relation, dietary, intake...
5368  MED-5369  ...  [suicide, mortality, european, union, pubmed, ...
5369  MED-5370  ...  [long, chain, omega-3, fatty, acids, intake, f...
5370  MED-5371  ...  [omega-3, fatty, acids, treatment, depression,...

[5371 rows x 7 columns]

In [ ]:
doc['TEXT_WITHOUT_STOPWORDS']

0       [birth, weight, head, circumference, prenatal,...
1       [statistical, regression, model, estimation, a...
2       [chronic, intake, potato, chips, humans, incre...
3       [dietary, patterns, breast, cancer, risk, amon...
4       [empirically, derived, dietary, patterns, risk...
                              ...
5366    [relationship, plasma, carotenoids, depressive...
5367    [suicide, mortality, relation, dietary, intake...
5368    [suicide, mortality, european, union, pubmed, ...
5369    [long, chain, omega-3, fatty, acids, intake, f...
5370    [omega-3, fatty, acids, treatment, depression,...
Name: TEXT_WITHOUT_STOPWORDS, Length: 5371, dtype: object

Loading Relevance Judgment doc </br>
{train}.3-2-1.qrel  --      The relevance file for 4 levels in total: 

*   Direct links (3)
*   Indirect links (2)
*   Marginally relevant(1)
*   Others (0, not in the files)

In [6]:
filename = '/content/sample_data/data/train.3-2-1.qrel'
query_relevance = pd.read_csv(filename, sep = '\t', header=None)
query_relevance.columns =['QUERY_ID', '0', 'DOC_ID', 'RELEVANCE_LEVEL']

In [7]:
query_relevance

          QUERY_ID  0    DOC_ID  RELEVANCE_LEVEL
0          PLAIN-3  0  MED-2436                3
1          PLAIN-3  0  MED-2437                3
2          PLAIN-3  0  MED-2438                3
3          PLAIN-3  0  MED-2439                3
4          PLAIN-3  0  MED-2440                3
...            ... ..       ...              ...
139345  PLAIN-3474  0  MED-3546                2
139346  PLAIN-3474  0  MED-3547                2
139347  PLAIN-3474  0  MED-4632                2
139348  PLAIN-3474  0  MED-4633                2
139349  PLAIN-3474  0  MED-4634                2

[139350 rows x 4 columns]

Reviewing Query_ID 'PLAIN-10' with relevant files (i.e. Relevevance_Level = 3)

In [ ]:
query_relevance.loc[(query_relevance.RELEVANCE_LEVEL == 3) & (query_relevance.QUERY_ID == 'PLAIN-10')]

     QUERY_ID  0    DOC_ID  RELEVANCE_LEVEL
371  PLAIN-10  0  MED-2494                3
372  PLAIN-10  0  MED-2495                3
373  PLAIN-10  0  MED-2496                3
374  PLAIN-10  0  MED-2493                3
375  PLAIN-10  0  MED-2497                3

In [ ]:
query_relevance.loc[(query_relevance.QUERY_ID == 'PLAIN-10')]

     QUERY_ID  0    DOC_ID  RELEVANCE_LEVEL
371  PLAIN-10  0  MED-2494                3
372  PLAIN-10  0  MED-2495                3
373  PLAIN-10  0  MED-2496                3
374  PLAIN-10  0  MED-2493                3
375  PLAIN-10  0  MED-2497                3
..        ... ..       ...              ...
445  PLAIN-10  0  MED-5338                2
446  PLAIN-10  0  MED-5339                2
447  PLAIN-10  0  MED-5340                2
448  PLAIN-10  0  MED-5341                2
449  PLAIN-10  0  MED-5342                2

[79 rows x 4 columns]

Loading NL queries dataset (train)

In [10]:
filename = '/content/sample_data/data/train.all.queries'
query = pd.read_csv(filename, sep = '\t', header=None)
query.columns =['QUERY_ID', 'QUERY']
query

        QUERY_ID                                              QUERY
0       PLAIN-10  how contaminated are our children ? in a study...
1      PLAIN-100  cancer and the animal-to-plant protein ratio i...
2     PLAIN-1000  daniel fast - - meat , plant-based diets , veg...
3     PLAIN-1002  dark chocolate - - chocolate , cocoa , sugar ,...
4     PLAIN-1003  dark meat - - turkey , white meat , poultry , ...
...          ...                                                ...
2589   PLAIN-993  cyclamate - - stevia , sucralose , splenda , s...
2590   PLAIN-994  cycling - - exercise , athletes , vegetables ,...
2591   PLAIN-995  cysticercosis - - zoonotic disease , neurocyst...
2592   PLAIN-998  dairy the first us dietary guidelines were iss...
2593   PLAIN-999  dandelion - - phytonutrients , peppermint , le...

[2594 rows x 2 columns]

In [ ]:
query.loc[query.QUERY_ID == 'PLAIN-120']

      QUERY_ID                                              QUERY
164  PLAIN-120  preloading with watercress before exercise cou...

Queries are 

*   Lowercased
*   Tokenized
*   Punctuation removed
*   Stopwords removed

In [ ]:
query['QUERY'] = query['QUERY'].apply(lambda s:s.lower() if type(s) == str else s)
query['TOKENIZED_TEST'] = query['QUERY'].apply(word_tokenize) 
query['TOKENIZED_TEST'] = query['TOKENIZED_TEST'].apply(lambda x: [item for item in x if item not in string.punctuation])
query['TEXT_WITHOUT_STOPWORDS'] = query['TOKENIZED_TEST'].apply(lambda x: [item for item in x if item not in stop])
query['TEXT_WITHOUT_STOPWORDS'] = query['TEXT_WITHOUT_STOPWORDS'].apply(lambda x: [item for item in x if item not in stopwords_given_list])

Creating Class for BM25 </br>
(bm25_intro, 2021)

In [ ]:
class BM25:
    """
    Best Match 25.

    Parameters
    ----------
    k1 : float, default 1.5

    b : float, default 0.75

    Attributes
    ----------
    tf_ : list[dict[str, int]]
        Term Frequency per document. So [{'hi': 1}] means
        the first document contains the term 'hi' 1 time.

    df_ : dict[str, int]
        Document Frequency per term. i.e. Number of documents in the
        corpus that contains the term.

    idf_ : dict[str, float]
        Inverse Document Frequency per term.

    doc_len_ : list[int]
        Number of terms per document. So [3] means the first
        document contains 3 terms.

    corpus_ : list[list[str]]
        The input corpus.

    corpus_size_ : int
        Number of documents in the corpus.

    avg_doc_len_ : float
        Average number of terms for documents in the corpus.
    """

    def __init__(self, k1=1.2, b=0.75):
        self.b = b
        self.k1 = k1

    def fit(self, corpus):
        """
        Fit the various statistics that are required to calculate BM25 ranking
        score using the corpus given.

        Parameters
        ----------
        corpus : list[list[str]]
            Each element in the list represents a document, and each document
            is a list of the terms.

        Returns
        -------
        self
        """
        tf = []
        df = {}
        idf = {}
        doc_len = []
        corpus_size = 0
        for document in corpus:
            corpus_size += 1
            doc_len.append(len(document))

            # compute tf (term frequency) per document
            frequencies = {}
            for term in document:
                term_count = frequencies.get(term, 0) + 1
                frequencies[term] = term_count

            tf.append(frequencies)

            # compute df (document frequency) per term
            for term, _ in frequencies.items():
                df_count = df.get(term, 0) + 1
                df[term] = df_count

        for term, freq in df.items():
            idf[term] = math.log(1 + (corpus_size - freq + 0.5) / (freq + 0.5))

        self.tf_ = tf
        self.df_ = df
        self.idf_ = idf
        self.doc_len_ = doc_len
        self.corpus_ = corpus
        self.corpus_size_ = corpus_size
        self.avg_doc_len_ = sum(doc_len) / corpus_size
        return self

    def search(self, query):
        scores = [self._score(query, index) for index in range(self.corpus_size_)]
        return scores

    def _score(self, query, index):
        score = 0.0

        doc_len = self.doc_len_[index]
        frequencies = self.tf_[index]
        for term in query:
            if term not in frequencies:
                continue

            freq = frequencies[term]
            numerator = self.idf_[term] * freq * (self.k1 + 1)
            denominator = freq + self.k1 * (1 - self.b + self.b * doc_len / self.avg_doc_len_)
            score += (numerator / denominator)

        return score

In [ ]:
query

        QUERY_ID  ...                             TEXT_WITHOUT_STOPWORDS
0       PLAIN-10  ...  [contaminated, children, study, highlighted, v...
1      PLAIN-100  ...  [cancer, animal-to-plant, protein, ratio, year...
2     PLAIN-1000  ...  [daniel, fast, meat, plant-based, diets, vegan...
3     PLAIN-1002  ...  [dark, chocolate, chocolate, cocoa, sugar, phy...
4     PLAIN-1003  ...  [dark, meat, turkey, white, meat, poultry, mea...
...          ...  ...                                                ...
2589   PLAIN-993  ...  [cyclamate, stevia, sucralose, splenda, sorbit...
2590   PLAIN-994  ...  [cycling, exercise, athletes, vegetables, juic...
2591   PLAIN-995  ...  [cysticercosis, zoonotic, disease, neurocystic...
2592   PLAIN-998  ...  [dairy, dietary, guidelines, issued, 1980, rec...
2593   PLAIN-999  ...  [dandelion, phytonutrients, peppermint, lemong...

[2594 rows x 4 columns]

In [ ]:
bm25 = BM25()
bm25.fit(doc['TEXT_WITHOUT_STOPWORDS'])
scores = bm25.search(query['TEXT_WITHOUT_STOPWORDS'][0])

document_list = doc['ID'].tolist()
list_of_doc_score = list(zip(scores, document_list))
bm_rank = pd.DataFrame(list_of_doc_score, columns = ['Score', 'Doc_ID'])
bm_rank = bm_rank.sort_values(by="Score", ascending=False)
bm_rank.head(50)
#for score, document in zip(scores, document_list):
#    score = round(score, 3)
#    print(str(score) + '\t' + document)

           Score    Doc_ID
51    807.196199    MED-52
1158  807.196199  MED-1159
2493  807.196199  MED-2494
1749  791.334878  MED-1750
1173  750.970660  MED-1174
4616  746.546013  MED-4617
2943  746.546013  MED-2944
275   746.546013   MED-276
4610  746.546013  MED-4611
4613  746.546013  MED-4614
1171  741.983976  MED-1172
1673  733.334564  MED-1674
1262  733.334564  MED-1263
2522  711.762999  MED-2523
988   710.330295   MED-989
348   710.330295   MED-349
2288  710.330295  MED-2289
3130  710.330295  MED-3131
3136  710.330295  MED-3137
3114  710.330295  MED-3115
3937  672.363762  MED-3938
1333  665.899399  MED-1334
5195  661.541938  MED-5196
2489  652.423694  MED-2490
49    652.423694    MED-50
3959  640.502563  MED-3960
2492  624.561600  MED-2493
54    624.561600    MED-55
3758  624.528035  MED-3759
3934  613.568148  MED-3935
1349  611.424406  MED-1350
1165  611.105648  MED-1166
1195  603.465641  MED-1196
2179  597.314556  MED-2180
2388  596.872106  MED-2389
802   596.872106   MED-803
3380  595.492809  MED-3381
1002  590.760980  MED-1003
3594  588.636670  MED-3595
4674  587.322298  MED-4675
4675  587.322298  MED-4676
1055  580.308593  MED-1056
1604  576.873138  MED-1605
2220  575.198148  MED-2221
1056  575.198148  MED-1057
1652  575.198148  MED-1653
1994  575.198148  MED-1995
1188  574.801090  MED-1189
1581  574.801090  MED-1582
1596  572.149240  MED-1597

In [ ]:
bm_rank.loc[bm_rank.Doc_ID == 'MED-2494']

           Score    Doc_ID
2493  807.196199  MED-2494

In [ ]:
type(document_list)

list

In [ ]:
query['QUERY_ID'][0]

'PLAIN-10'

In [ ]:
len(doc['TEXT_WITHOUT_STOPWORDS'][0])

168

In [ ]:
for document in doc['TEXT_WITHOUT_STOPWORDS']:
  print(document)
  for term in document:
    print(term)

In [ ]:
list_of_doc_score

**References**

*   Ethen8181.github.io. 2021. bm25_intro. [online] Available at: <http://ethen8181.github.io/machine-learning/search/bm25_intro.html> [Accessed 18 July 2021].
*   List item